* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    padding: 60px 0;
}

.title {
    max-width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.list {
    list-style: none;
    max-width: 400px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.list-item {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid yellow;
    background-color: lightsalmon;
}